/* ============= Add Font ============= */
@font-face {
    font-family: myBold;
    src: url(/asset/fonts/AdobeClean-Bold.otf);
    }

@font-face {
    font-family: myMedium;
    src: url(/asset/fonts/AdobeClean-Medium.otf);
    }

    @font-face {
    font-family: myRegular;
    src: url(/asset/fonts/AdobeClean-Regular.otf);
    }

    @font-face {
    font-family: myFont;
    src: url(/asset/fonts/ds-digital.otf);
    }